body{
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),

    /* Background image from https://www.wallpapervortex.com/wallpaper-13168_pokemon.html */
    url(../images/bkg.jpg);
    background-size: 100%;
    color: yellow;
    text-align: center;
}

.container{
    min-height: 100%;
    overflow: hidden;
}

.row{
    min-height: 100%;
    overflow: hidden;
}

#game{
    background-color:rgb(246, 24, 24);
    border: solid 3px royalblue;
    height: 100%;
    max-width: 100%;
    margin:20px;
    align-self: center;
    border-radius: 25px;
}

h1{
    font-weight: 900;
    font-size: 4em;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: royalblue;
    text-shadow: -5px 5px #666b;
    padding: 20px;
}

h2{ 
    font-weight: 900;
    font-size: 3.5em;
    padding: 20px;
}

#images{

    position: relative;
    width:100%;
    padding-top: 56.25%;
    background: url(../images/who.jpg);
    background-size: cover;
    background-position: center;
}

#pokemon{
    width: 45%;
    position: absolute;
    left: 0;
    top: 0;
    right: 45%;
    bottom: 0;
    display: block;
    margin: auto; 
}

.card{
    margin: 20px;
    border: solid 3px royalblue;
    border-radius: 25px;
    background-color:  rgb(246, 24, 24);
}

.card-header{
    font-weight: 600;
}

.btn-link, .btn-link:visited, .btn-link:hover, .btn-link:active, .btn-link:focus{
    color: yellow;
    text-decoration: none;
    font-weight: 600;
}